* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}
/* Great work on being detailed oriented and adding the right fonts to each component of the website. */
h1, h2 h3 {
    font-family: 'Roboto Serif', serif;
}

h1 {
    font-size: 64px;
    line-height: 80px;
}

h3 {
    font-size: 24px;
    line-height: 25px;
}

p, a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #646464;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}
/* Superb! You’ve used grid template areas correctly! */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px auto auto 80px;
    grid-template-areas: 
    "header header header"
    "slogan slogan slogan"
    "cards-container cards-container cards-container"
    "footer footer footer";
}
/* Beautiful work on using CSS Grid and flex box together! */
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 0 73px;
    align-items: center;
}

.header img {
    height: 40px;
    width: 160px;
}
/* Nice work on using Flexbox properly to create some of the components. */
.left-nav-links {
    display: flex;
    justify-content: space-between;
    width: 12%;
}

#btn1 {
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    line-height: 19px;
    border-radius: 28px;
    padding: 10px 20px;
}

/* MOBILE LAYOUT  */

.hamburger-icon {
    display: none;
    
}

.menu {
    display: none;
}

#hamburger {
    display: none;
}

/* SLOGAN AND WELCOME TEXT */

.slogan {
    grid-area: slogan;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 70px;
}
/* Awesome work on making the image responsive by giving it a % value for it’s width! */
.slogan img {
    width: 100%;

}

.welcome-text-container p {
    font-size: 24px;
    line-height: 32px;
    color: #646464;
    padding: 30px 0;
}

/* CARDS SECTION */

.cards-container{
    grid-area: cards-container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 65px;
    gap: 80px;
    margin-bottom: 100px;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    gap: 20px;
    padding: 50px 20px;
    position: relative;
}
/* Great job on positioning the icons on the edge of the card using absolute and relative positioning! */
#icon {
    align-self: flex-end;
    position: absolute;
    top: -40px;
    right: 30px;

}

.card-item button {
    border: 1px solid #E5E5E5;
    width: 40%;
    padding: 10px 0;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}

.card-one {
    background: #FEBD2F;
    border-radius: 40px;
    padding: 30px 30px 50px 30px;
    font-size: 30px;
}

/* FOOTER SECTION */

.footer {
    background-color: #FEBD2F;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.footer img {
    height: 32px;
    width: 129px;
}
/* Great work on making your project responsive using media queries properly! */
@media (max-width: 768px) {

    .header {
        padding: 0 50px;
    }

    .welcome-text-container {
        text-align: center;
    }

    .left-nav-links {
        width: 23%;
    }

    .slogan {
        grid-template-columns: 1fr;
        padding: 80px 50px;
        gap: 20px;
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 50px;
        gap: 80px 40px;
    }
}

/* Props to you for implementing a functional hamburger menu!
Looks great and is functional! */
@media (max-width: 426px) {

    .hamburger-icon {
        display: block;
        
    }

    .left-nav-links {
        /* display: none; */
        visibility: hidden;
        width: 10px;
    }

    h1 {
        font-size: 36px;
        line-height: 50px;
      }

    .slogan {
        margin-top: 50px;
    }

    #btn1 {
        display: none;
    }

    .menu {
        display: none;
    }

    #hamburger:checked + .menu{
        display: flex;
    }

    .grid-container {
        align-items: center;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }

    .card-one {
        padding: 20px 30px 20px 30px;
    }

    .card-item {
        padding: 40px 20px;
    }

    .footer {
        padding: 24px 0;
    }

    .menu {
        /* display: flex; */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        gap: 10px;
    }
}
