* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    font-family: 'Roboto Serif', serif;
}

h1 {
    font-size: 64px;
    line-height: 80px;
}

h3 {
    font-size: 24px;
    line-height: 25px;
}

p, a {
    font-size: 1.1ren;
    line-height: 2em;
    color: #646464;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px auto auto 80px;
    grid-template-areas: 
    "header header header"
    "slogan slogan slogan"
    "cards-container cards-container cards-container"
    "footer footer footer";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 3.5em 4.25em;
    align-items: center;
    margin: 0 2em;
    width: 100%;
}

.header img {
    height: 60px;
    width: 250px;
}

.left-nav-links {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.left-nav-links, #btn1{
    cursor: pointer;
}

#btn1 {
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    line-height: 19px;
    border-radius: 28px;
    padding: 10px 20px;
}

/* MOBILE LAYOUT  */

.hamburger-icon {
    display: none;
}

.menu {
    visibility: hidden;
}

.hamburger {
    visibility: hidden;
}

/* SLOGAN AND WELCOME TEXT */

.slogan {
    grid-area: slogan;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 6.25em 4.4em;
    border-bottom: 1px solid gray;
    margin-bottom: 4.5em;
}

.slogan img {
    width: 100%;
}

.welcome-text-container p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #646464;
    padding: 30px 0;
}

/* CARDS SECTION */

.cards-container{
    grid-area: cards-container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 4em;
    gap: 80px;
    margin-bottom: 2em;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    gap: 20px;
    padding: 50px 20px;
    position: relative;
}

#icon {
    align-self: flex-end;
    position: absolute;
    top: -40px;
    right: 30px;

}

.card-item button {
    border: 1px solid #E5E5E5;
    width: 40%;
    padding: 10px 0;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}

.card-one {
    background: #FEBD2F;
    border-radius: 40px;
    padding: 2em;
    font-size: 1.8rem;
    align-self: center;
}

/* FOOTER SECTION */

.footer {
    background-color: #FEBD2F;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.footer img {
    height: 32px;
    width: 129px;
}

@media (max-width: 768px) {

    .header {
        padding: 2em 0;
    }

    .welcome-text-container {
        text-align: center;
    }

    .left-nav-links {
        width: 24%;
    }

    .slogan {
        grid-template-columns: 1fr;
        padding: 6em 3em;
        gap: 20px;
    }

    .slogan h1{
        font-size: 3rem;
        line-height: 1.2em;
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        gap: 80px 40px;
    }

    .grid-container{
        margin: 0 1.5em;
    }

}

@media (max-width: 426px) {

    .hamburger-icon {
        display: block;
        font-size: 1.8em;
    }

    .header img{
        width: 180px;
    }

    .left-nav-links {
        visibility: hidden;
        width: 10px;
    }

    h1 {
        font-size: 1.9rem;
        line-height: 1.5em;
      }

    .card-one h2{
        font-size: 1.6rem;
    }

    .slogan {
        margin-top: 3em;
        padding: 1.25em 1.4em 2em 1.4em;
        margin: 2.5em 1em;
    }

    #btn1 {
        display: none;
    }

    .welcome-text-container p{
        font-size: .9rem;
    }

    .welcome-text-container h1{
        font-size: 2em;
    }

    .hamburger:checked + .menu {
        display: flex;
        visibility: visible;
        /* /* flex-direction: column; */
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        align-items: center;
        padding: 1.25em 0;
        gap: 10px; */
    }


    .grid-container {
        align-items: center;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }

    .card-one {
        padding: .8em;
    }

    .card-item {
        padding: 2em 1em;
    }

    .card-item h3{
        font-size: 1.2rem;
    }

    .card-item p{
        font-size: .8rem;
    }

    .card-item button{
        font-size: .7rem;
    }

    .footer {
        padding: 1.5em 0;
    }

    #icon{
        width: 50px;
        top: -25px;
    }

    /* .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        align-items: center;
        padding: 1.25em 0;
        gap: 10px;
    } */
}
